.masthead {
    padding-top: var(--spacer);
    padding-bottom: var(--spacer);
    margin-bottom: var(--spacer-3);
  }
  
  .mastheadTitle {
    margin-top: 0;
    margin-bottom: 0;
  
    a, a:visited {
      color: var(--text);
      text-decoration: none;
    }
  
    small {
      font-weight: 400;
      opacity: .5;
    }
  }
